
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}
.titulo{
    color: white;
    text-align: center;
}
.encabezado{
    background-image: url('./Imagenes/plantel.jpg');
    background-color: lightskyblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.menu__superior{
    color: blue;
    list-style-type: none;
    text-align: center;
}
.menu__superior li{
    display: inline-block;
}
.ir__abajo{
    background-color: lightskyblue;
    text-align: center;
}
h2{
    text-align: center;
    color: black;
    background-color: goldenrod;
}
.contenido__imagen1 img{
    width: 70%;
    height: 10%;
    padding: 1rem;
    background-color: black;
}
.contenido__imagen2 img{
    width: 70%;
    height: 10%;
    padding: 1rem;
    background-color: black;
}
.contenido__imagen3 img{
    width: 70%;
    height: 10%;
    padding: 1rem;
    background-color: black;
}
.contenido__imagen4 img{
    width: 70%;
    height: 10%;
    padding: 1rem;
    background-color: black;
}
.videos__extras{
    color: black;
    background-color: lightskyblue;
    list-style-type: none;
    text-align: center;
    padding: 2rem;
}
footer{
    color: blue;
    background-color: lightskyblue;
    list-style-type: none;
    text-align: center;
}